In [1]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import OrdinalEncoder
import json
import pandas as pd

In [2]:
with open("yelp_dataset/yelp_academic_dataset_business.json", "r") as f:
    business_data = pd.read_json(f, lines=True)
    print(business_data)

                   business_id                      name  \
0       Pns2l4eNsfO8kk83dixA6A  Abby Rappoport, LAC, CMQ
1       mpf3x-BjTdTEA3yCZrAYPw             The UPS Store
2       tUFrWirKiKi_TAnsVWINQQ                    Target
3       MTSW4McQd7CbVtyjqoe9mw        St Honore Pastries
4       mWMc6_wTdE0EUBKIGXDVfA  Perkiomen Valley Brewery
...                        ...                       ...
150341  IUQopTMmYQG-qRtBk-8QnA              Binh's Nails
150342  c8GjPIOTGVmIemT7j5_SyQ      Wild Birds Unlimited
150343  _QAMST-NrQobXduilWEqSw         Claire's Boutique
150344  mtGm22y5c2UHNXDFAjaPNw  Cyclery & Fitness Center
150345  jV_XOycEzSlTx-65W906pg                   Sic Ink

                                address           city state postal_code  \
0                1616 Chapala St, Ste 2  Santa Barbara    CA       93101
1       87 Grasso Plaza Shopping Center         Affton    MO       63123
2                  5255 E Broadway Blvd         Tucson    AZ       85711
3                           935 Race St   Philadelphia    PA       19107
4                         101 Walnut St     Green Lane    PA       18054
...                                 ...            ...   ...         ...
150341                3388 Gateway Blvd       Edmonton    AB     T6J 5H2
150342               2813 Bransford Ave      Nashville    TN       37204
150343           6020 E 82nd St, Ste 46   Indianapolis    IN       46250
150344                     2472 Troy Rd   Edwardsville    IL       62025
150345            238 Apollo Beach Blvd   Apollo beach    FL       33572

         latitude   longitude  stars  review_count  is_open  \
0       34.426679 -119.711197    5.0             7        0
1       38.551126  -90.335695    3.0            15        1
2       32.223236 -110.880452    3.5            22        0
3       39.955505  -75.155564    4.0            80        1
4       40.338183  -75.471659    4.5            13        1
...           ...         ...    ...           ...      ...
150341  53.468419 -113.492054    3.0            13        1
150342  36.115118  -86.766925    4.0             5        1
150343  39.908707  -86.065088    3.5             8        1
150344  38.782351  -89.950558    4.0            24        1
150345  27.771002  -82.394910    4.5             9        1

                                               attributes  \
0                           {'ByAppointmentOnly': 'True'}
1                  {'BusinessAcceptsCreditCards': 'True'}
2       {'BikeParking': 'True', 'BusinessAcceptsCredit...
3       {'RestaurantsDelivery': 'False', 'OutdoorSeati...
4       {'BusinessAcceptsCreditCards': 'True', 'Wheelc...
...                                                   ...
150341  {'ByAppointmentOnly': 'False', 'RestaurantsPri...
150342  {'BusinessAcceptsCreditCards': 'True', 'Restau...
150343  {'RestaurantsPriceRange2': '1', 'BusinessAccep...
150344  {'BusinessParking': '{'garage': False, 'street...
150345  {'WheelchairAccessible': 'True', 'BusinessAcce...

                                               categories  \
0       Doctors, Traditional Chinese Medicine, Naturop...
1       Shipping Centers, Local Services, Notaries, Ma...
2       Department Stores, Shopping, Fashion, Home & G...
3       Restaurants, Food, Bubble Tea, Coffee & Tea, B...
4                               Brewpubs, Breweries, Food
...                                                   ...
150341                         Nail Salons, Beauty & Spas
150342  Pets, Nurseries & Gardening, Pet Stores, Hobby...
150343  Shopping, Jewelry, Piercing, Toy Stores, Beaut...
150344  Fitness/Exercise Equipment, Eyewear & Optician...
150345  Beauty & Spas, Permanent Makeup, Piercing, Tattoo

                                                    hours
0                                                    None
1       {'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ...
2       {'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ...
3       {'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...
4       {'Wednesday': '14:0-22:0', 'Thursday': '16:0-2...
...                                                   ...
150341  {'Monday': '10:0-19:30', 'Tuesday': '10:0-19:3...
150342  {'Monday': '9:30-17:30', 'Tuesday': '9:30-17:3...
150343                                               None
150344  {'Monday': '9:0-20:0', 'Tuesday': '9:0-20:0', ...
150345  {'Tuesday': '12:0-19:0', 'Wednesday': '12:0-19...

[150346 rows x 14 columns]

In [7]:
with open("yelp_dataset/yelp_academic_dataset_user.json", "r") as f:
    user_data_list = []
    CHUNK_SIZE = 100000
    TOTAL = 2000000
    user_data_reader = pd.read_json(f, lines=True, chunksize=CHUNK_SIZE)
    for i, chunk in enumerate(user_data_reader):
        if i*CHUNK_SIZE == TOTAL:
            print("Operation successful")
            break
        user_data_list.append(chunk)
        print("Processed chunk " + str(i+1) + " of " + str(CHUNK_SIZE) + " users")

Processed chunk 1 of 100000 users
Processed chunk 2 of 100000 users
Processed chunk 3 of 100000 users
Processed chunk 4 of 100000 users
Processed chunk 5 of 100000 users
Processed chunk 6 of 100000 users
Processed chunk 7 of 100000 users
Processed chunk 8 of 100000 users
Processed chunk 9 of 100000 users
Processed chunk 10 of 100000 users
Processed chunk 11 of 100000 users
Processed chunk 12 of 100000 users
Processed chunk 13 of 100000 users
Processed chunk 14 of 100000 users
Processed chunk 15 of 100000 users
Processed chunk 16 of 100000 users
Processed chunk 17 of 100000 users
Processed chunk 18 of 100000 users
Processed chunk 19 of 100000 users
Processed chunk 20 of 100000 users

In [8]:
user_data = pd.concat(user_data_list).sort_index()
user_data

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1987892,fB3jbHi3m0L2KgGOxBv6uw,Jerrold,23,2015-01-06 00:31:31,7,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0
1987893,68czcr4BxJyMQ9cJBm6C7Q,Jane,1,2016-06-14 07:20:52,0,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0
1987894,1x3KMskYxOuJCjRz70xOqQ,Shomari,4,2017-02-04 15:31:58,1,1,0,,None,0,...,0,0,0,0,0,0,0,0,0,0
1987895,ulfGl4tdbrH05xKzh5lnog,Susanne,2,2011-01-14 00:29:08,0,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0
1987896,wL5jPrLRVCK_Pmo4lM1zpA,Isa,2,2020-12-19 02:32:39,0,0,0,,None,0,...,0,0,0,0,0,0,0,0,0,0

In [9]:
with open("yelp_dataset/yelp_academic_dataset_review.json", "r") as f:
    review_data_list = []
    CHUNK_SIZE = 100000
    TOTAL = 2000000
    review_data_reader = pd.read_json(f, lines=True, chunksize=CHUNK_SIZE)
    for i, chunk in enumerate(review_data_reader):
        if i*CHUNK_SIZE == TOTAL:
            print("Operation successful")
            break
        review_data_list.append(chunk)
        print("Processed chunk " + str(i+1) + " of " + str(CHUNK_SIZE) + " reviews")

Processed chunk 1 of 100000 reviews
Processed chunk 2 of 100000 reviews
Processed chunk 3 of 100000 reviews
Processed chunk 4 of 100000 reviews
Processed chunk 5 of 100000 reviews
Processed chunk 6 of 100000 reviews
Processed chunk 7 of 100000 reviews
Processed chunk 8 of 100000 reviews
Processed chunk 9 of 100000 reviews
Processed chunk 10 of 100000 reviews
Processed chunk 11 of 100000 reviews
Processed chunk 12 of 100000 reviews
Processed chunk 13 of 100000 reviews
Processed chunk 14 of 100000 reviews
Processed chunk 15 of 100000 reviews
Processed chunk 16 of 100000 reviews
Processed chunk 17 of 100000 reviews
Processed chunk 18 of 100000 reviews
Processed chunk 19 of 100000 reviews
Processed chunk 20 of 100000 reviews
Operation successful

In [10]:
review_data = pd.concat(review_data_list).sort_index()
review_data

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15
...,...,...,...,...,...,...,...,...,...
1999995,5Kj5gEHBP8SIYeiwaNV9xg,Ux0CsHDQvEbtZXlGDgcCHg,TGiTwNYy3ZvOoHTT7ZHpgg,1,0,0,0,"Had to wait over 20 minutes for my order, then...",2020-09-20 00:13:27
1999996,wQq7vGWf8euzUk7TkoVAXw,5jKScvMqxW_rzd0D8xgX1A,kOmhn5Eo6AWzMVL6ALRq2Q,5,2,0,1,"Very good food!! My wife and I got crab legs, ...",2020-06-11 23:25:17
1999997,eAKeO7EX8kSKsCBcq7mKTA,_Redmmq2oiUvMFhzS-CAVA,m6ZcOrHJHYmIPhjgh8cycw,2,0,0,0,"Food was just ok, nothing to write home about....",2020-12-02 23:02:55
1999998,HaY4k2iVPhcTOwfGVPlYSg,BnMfYA-c2YQbzVMto2wO5w,YCfMNP_1YCTXTKlrnw44vQ,5,0,0,0,Great spot! Food and service was terrific! ...,2021-01-09 02:45:57
1999999,MmFruENWfbqghG5hwJhIaw,p465OiphoWkYQDnbK_hLIg,YceIYPMBP3oKcuEFhj2_Gg,5,0,0,0,"My ten-year-old Sheltie, Diane, had a severe l...",2020-12-04 22:23:55

In [27]:
categories = []
for category in business_data['categories']:
    if category is not None:
        for c in category.split(','):
            c = c.strip()
            if c not in categories:
                categories.append(c)
print(categories[:10])

['Doctors', 'Traditional Chinese Medicine', 'Naturopathic/Holistic', 'Acupuncture', 'Health & Medical', 'Nutritionists', 'Shipping Centers', 'Local Services', 'Notaries', 'Mailbox Centers']

In [22]:
def test_get_category(user_query: str) -> str:
    # NOTE: Work in progress (not used in project) -- getting category accurately without vector similarity
    import itertools
    user_query = user_query.lower()
    category_words = [word.lower().replace('(', '').replace(')', '') for word in set(word for category in categories for word in category.split()) - {'&'}]
    query = {word : [] for word in user_query.split()}
    for query_word in user_query.split():
        temp = {word : edit_distance(query_word, word) for word in category_words}
        for i, word in enumerate(sorted(temp, key=temp.get)):
            if i == 10:
                break
            if len(query[query_word]) >= 1 and temp[query[query_word][0]] < temp[word]:
                continue
            query[query_word].append(word)
    print(query)
    for combination in list(itertools.product(*list(query.values()))):
        for category in categories:
            identical_matches = []
            if set(combination).issubset(set([word.lower() for word in category.split()])):
                identical_matches.append(category)
            if identical_matches != []:
                print(identical_matches)
                return min(identical_matches, key=lambda x : len(x.split()))
    fractions = {}
    
            
#test_get_category('yelp')

In [12]:
from sentence_transformers import SentenceTransformer
from sklearn.metrics.pairwise import cosine_similarity

# NOTE: run pip install sentence-transformers transformers scikit-learn as an admin on terminal before running this

model = SentenceTransformer('bert-base-nli-mean-tokens')

def calculate_similarity(query, dataset):
    query_embedding = model.encode([query])
    similarities = []

    for item in dataset:
        item_embedding = model.encode([item])
        similarity = cosine_similarity(query_embedding, item_embedding)[0][0]
        similarities.append((item, similarity))

    # Sort by similarity in descending order, i.e the most relevant categories at the front
    similarities.sort(key=lambda x: x[1], reverse=True)
    return similarities

In [28]:
user_ids = user_data['user_id']
print(user_ids.head(20))
user_ids = user_ids.values.tolist()

0     qVc8ODYU5SZjKXVBgXdI7w
1     j14WgRoU_-2ZE1aw1dXrJg
2     2WnXYQFK0hXEoTxPtV2zvg
3     SZDeASXq7o05mMNLshsdIA
4     hA5lMy-EnncsH4JoR-hFGQ
5     q_QQ5kBBwlCcbL1s4NVK3g
6     cxuxXkcihfCbqt5Byrup8Q
7     E9kcWJdJUHuTKfQurPljwA
8     lO1iq-f75hnPNZkTy3Zerg
9     AUi8MPWJ0mLkMfwbui27lg
10    iYzhPPqnrjJkg1JHZyMhzA
11    xoZvMJPDW6Q9pDAXI0e_Ww
12    vVukUtqoLF5BvH_VtQFNoA
13    _crIokUeTCHVK_JVOy-0qQ
14    1McG5Rn_UDkmlkZOrsdptg
15    SgiBkhXeqIKl1PlFpZOycQ
16    fJZO_skqpnhk1kvomI4dmA
17    x7YtLnBW2dUnrrpwaofVQQ
18    QF1Kuhs8iwLWANNZxebTow
19    VcLRGCG_VbAo8MxOm76jzA
Name: user_id, dtype: object

In [14]:
def get_category(user_query: str):
    results = calculate_similarity(user_query, categories)
    return results[0][0]

In [15]:
def preprocessing(input_data: pd.DataFrame):
    encoder = OrdinalEncoder()
    input_data['name'] = encoder.fit_transform(input_data['name'].values.reshape(-1, 1))
    input_data['address'] = encoder.fit_transform(input_data['address'].values.reshape(-1, 1))
    input_data['city'] = encoder.fit_transform(input_data['city'].values.reshape(-1, 1))
    input_data['state'] = encoder.fit_transform(input_data['state'].values.reshape(-1, 1))
    input_data['postal_code'] = encoder.fit_transform(input_data['postal_code'].values.reshape(-1, 1))
    input_data['latitude'] = encoder.fit_transform(input_data['latitude'].values.reshape(-1, 1))
    input_data['longitude'] = encoder.fit_transform(input_data['longitude'].values.reshape(-1, 1))
    if len(input_data['attributes'].values.tolist()) != 0:
        attributes = [[val] for val in [', '.join([key for key in review if review[key] == 'True']) if review is not None else '' for review in input_data['attributes']]]
        input_data['attributes'] = encoder.fit_transform(attributes)
    input_data['categories'] = encoder.fit_transform(input_data['categories'].values.reshape(-1, 1))
    
    return input_data

In [19]:
def query(user_id: str, user_query: str):
    assert user_id in user_ids

    user_reviews = review_data.loc[(review_data['user_id'] == user_id) & (review_data['business_id'].isin(business_data['business_id'].values.tolist()))]\
        .drop_duplicates(subset='business_id').sort_values(by='business_id').reset_index()
    if len(user_reviews.values.tolist()) < 5:
        print('Insufficient review count for prediction')
        return
    reviewed_businesses = business_data[business_data['business_id'].isin(user_reviews['business_id'].values.tolist())]\
        .drop_duplicates(subset='business_id').sort_values(by='business_id').reset_index()
    assert len(reviewed_businesses.values.tolist()) == len(user_reviews.values.tolist())
    
    output_data = user_reviews['stars']
    input_data = reviewed_businesses.drop(['business_id', 'hours'], axis=1).drop('index', axis=1)
    input_data = preprocessing(input_data)
    model = KNeighborsClassifier()
    model.fit(input_data.values, output_data.values)
    
    category = get_category(user_query)
    print("Category: " + category)
    businesses = business_data[business_data['categories'].str.contains(category, na=False)].drop(['business_id', 'hours'], axis=1).reset_index().drop('index', axis=1)
    business_names = businesses['name'].values.tolist()
    businesses = preprocessing(businesses)
    
    results = {}
    for i, business in businesses.iterrows():
        results[business_names[i]] = model.predict(business.values.reshape(1, -1))[0]
    recommendations = sorted(results, key=results.get, reverse=True)
    print('The best new places for you to check out are')
    for i in range(min(len(recommendations), 10)):
        print(str(i+1) + '. ' + recommendations[i] + " - " + str(results[recommendations[i]]) + " stars predicted")
    
query('AkBtT43dYcttxQ3qOzPBAg', 'driving theaters')

Category: Drive-In Theater
The best new places for you to check out are
1. Swap Shop - 4 stars predicted
2. Skyview Drive In - 4 stars predicted
3. Cactus Drive In Theatre - 4 stars predicted
4. Tibbs Drive-In Theatre - 3 stars predicted
5. West Wind Drive-In Santa Barbara - 3 stars predicted
6. Forcella BYOB - 3 stars predicted
7. Drive-In El Rancho - 3 stars predicted
8. Ruskin Family Drive-In Theater - 3 stars predicted